*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient( #95BEF0, #23456E);
    
}

h1{
    margin: 1%;
}

.logo{
    /*padding-top: 20px;*/
    justify-content: flex-start;
}
header, footer{
    width: 90%;
    margin: 5px auto;
}

header nav{
    background-color: dodgerblue;
    display: flex;
    justify-content: flex-end;
}

header nav ul{
    display: flex;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
}

header nav ul li a{
    display: block;
    text-decoration: none;
    color: floralwhite;
    padding: 10px;
    padding-inline: 20px;
    
}

header nav ul li a:hover{
    background-color: #44576E;
    color: white;
}

header nav ul li a:active{
    font-size: 1.1rem;
    background-color: #44576E;
    border-right: 5px solid white;
}

h1{
    text-align: center;
    font-size: 70px;
}

h1, h2, h3{
    color: #44576E; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h3{
    padding-bottom: 3%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
main{
    display: flex;

}

main section{
    width: 55%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    justify-content: space-around;
    
}

main aside{
    width: 35%;
    padding: 20px;
    background-color: #4C94ED;
    flex-direction: column;
    justify-content:space-around;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
main section article {
    padding: 20px;
    background-color: #95BEF0;
}


main section article iframe{
    display: block;
    padding: 2%;
    justify-content: center;

}


footer div ul li a{
    display: block;
    text-decoration: none;
    color: floralwhite;
    padding: 10px;
}

footer div ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

.control{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;

}

.video{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
}

footer{
    background-color: dodgerblue;
    padding: 15px 0;
    color: white;
    text-align: center;
    align-content: center;
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: space-around;
}


@media screen and (max-width: 1000px) {
    main{
        flex-direction: column;
    }

    header, nav, main section, main aside, footer{
        width: 100%;
    }
}


@media  screen and (max-width: 559px) {
    
    .logo{
        display: flex;
        justify-content: center;
    }

    h1{
        text-align: center;
        margin: 3%, 0;
    }

    header nav ul{
        flex-direction: column;
        justify-content: center;
        
    }
    main aside, main section{
        display: flex;
    
    }
}